.container {
    display: flex;
    background-color:lightgrey;
    height: 80vh;
    width: 100wh;
    justify-content: center;
    align-content: center;
}

#main{
    display: flex;
    justify-content: center;
    align-content: center;
}

#title {
    display: flex;
    font-family: sans-serif;
    color: black;
    font-size: 25px;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}